<h5>{{room_count}} rooms avilable</h5>
{% for room in rooms %}

    <div>
        {% if room.host == request.user %}
            <hr/>
            <a href="{% url 'update-room' room.id %}">Edit</a>
            <a href="{% url 'delete-room' room.id %}">Delete</a>
        {% endif %}
        
        <a href="{% url 'user-profile' room.host.id %}">@{{ room.host.username }}</a>
        <a href="{% url 'room' room.id %}"><h5>{{ room.id }} -- {{ room.name }}</h5></a>
        <small>{{ room.topic.name }}</small>
        <hr/>
        {% endfor %}
    </div>
